footer {
    background: url('../../../assets/img/pattern-hills.svg');
    position: fixed;
    bottom: 0px;
    z-index: 100;
    width: 100vw;
    height: 150px;

    .socialNetworks {
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        i {
            margin: 20px;
            cursor: pointer;
            font-size: 30px;
            color: #5C5A72;
            &:hover {
                color: #CC5674;
            }
        }
    }
}